<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mental Health FAQs</title>
    <link rel="stylesheet" href="main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" href="images/Logo.png" />
    <style>
      @import
      url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
      *, *::before, *::after { margin: 0; padding: 0; box-sizing: border-box; }
      html { font-size: 12px; } body { min-height: 100vh; font-family:
      "Poppins", sans-serif; background: #efefef; display: flex;
      justify-content: center; background-color: #cfe8a9; } img{ height: 500px;
      width: 500px; /* padding-right: 2%; */ /* margin-right: 2%; */ } #title{
      background-color: #CFE8A9; color: #fff; } .container-fluid{ padding: 3%
      10%; } .container { position: relative; background: #fff; margin-top:
      50px; margin-bottom: 30px; border-radius: 10px; filter: drop-shadow(0 0
      10px rgba(0, 0, 0, 0.5)); height: 1250px; width: 1200px; } .accordion {
      position: relative; width: 350px; margin-left: 40px; } .faq-content{
      padding-left: 10%; /* font-size: 40px; */ width: 100%; } .title-faq {
      margin-top: 20px; font-size: 2.3rem; text-align: center; }
      .content-accordion { margin-top: 35px; margin-right: 50px; }
      .question-answer { width: 100%; font-size: 40px; border-bottom: 1px solid
      #e8e8e8; padding: 2%; } .question { display: flex; justify-content:
      space-between; /* margin: 2px; */ } .accordion-img { position: relative;
      width: 320px; } .title-question { margin: 1.4rem 0rem; font-size: 1.5rem;
      font-weight: 500; color: #000; } .question-btn { font-size: 1.5rem;
      background: transparent; border-color: transparent; cursor: pointer; }
      .up-icon { display: none; } .answer { font-size: 1.2rem; line-height: 1.8;
      display: none; color: #000; } .show-text .answer { display: block; }
      .show-text .up-icon { display: inline; } .show-text .down-icon { display:
      none; } @media screen and (min-width: 992px) { .accordion { width: 920px;
      height: 0; display: flex; } .accordion-img { position: relative; width:
      420px; top: 88px; } .question-answer { width: 380px; } .content-accordion
      { margin-top: 85px; } .title { margin-top: 50px; font-size: 3rem; } }

    </style>
  </head>

  <body>
    <div class="container">
      <!-- <nav class="navbar navbar-expand navbar-dark   ">
            <img src="images/Logo.png" alt="Logo" width="90px" height="100px">
            <a class="navbar-brand">
                <h1>Working with the Mind</h1>
            </a>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link"
                        href="file:///Users/adityadarbari18/Documents/%20Web%20Development/Working%20with%20Mind/images/Minor%202/login.html">
                        <h3>Login</h3>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link href=""">
                        <h3>Blog</h3>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <h3>Analysis</h3>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Remedies">
                        <h3>Remedies</h3>
                    </a>
                <li class="nav-item">
                    <a class="nav-link" href="/Working with Mind/FAQ 2/index.html">
                        <h3>FAQ</h3>
                    </a>
                </li>
            </ul>
        </nav> -->
      <h1 class="title-faq">
        Frequenty Asked Questions
      </h1>
      <main class="accordion">
        <div class="faq-img">
          <img src="img/think.jpg" alt="" class="accordion-img" />
        </div>
        <div class="faq-content">
          <div class="content-accordion">

            <div class="question-answer">
              <div class="question">
                <h3 class="title-question">
                  What is Depression?
                </h3>
                <button class="question-btn">
                  <span class="up-icon">
                    <i class="fas fa-chevron-up"></i>
                  </span>
                  <span class="down-icon">
                    <i class="fas fa-chevron-down"></i>
                  </span>
                </button>
              </div>
              <div class="answer">
                <p>It refers to a low mood that is consistent and causes
                  feelings of worthlessness, helplessness, lack of interest in
                  sex drive or even life for that matter. This mood disorder
                  eventually impacts your functionality, your ability to
                  socialise and connect with the world.</p>
              </div>
            </div>
            <div class="question-answer">
              <div class="question">
                <h3 class="title-question">
                  What causes mental health problems?
                </h3>
                <button class="question-btn">
                  <span class="up-icon">
                    <i class="fas fa-chevron-up"></i>
                  </span>
                  <span class="down-icon">
                    <i class="fas fa-chevron-down"></i>
                  </span>
                </button>
              </div>
              <div class="answer">
                <p>Challenges or problems with your mental health can arise from
                  psychological, biological, and social, issues, as well as life
                  events.</p>
              </div>
            </div>
            <div class="question-answer">
              <div class="question">
                <h3 class="title-question">
                  What do I do if the support doesn't help?
                </h3>
                <button class="question-btn">
                  <span class="up-icon">
                    <i class="fas fa-chevron-up"></i>
                  </span>
                  <span class="down-icon">
                    <i class="fas fa-chevron-down"></i>
                  </span>
                </button>
              </div>
              <div class="answer">
                <p>It can be difficult to find the things that will help you, as
                  different things help different people. It’s important to be
                  open to a range of approaches and to be committed to finding
                  the right help and to continue to be hopeful, even when some
                  things don’t work out.</p>
              </div>
            </div>
            <div class="question-answer">
              <div class="question">
                <h3 class="title-question">
                  Are there cures for mental health problems?
                </h3>
                <button class="question-btn">
                  <span class="up-icon">
                    <i class="fas fa-chevron-up"></i>
                  </span>
                  <span class="down-icon">
                    <i class="fas fa-chevron-down"></i>
                  </span>
                </button>
              </div>
              <div class="answer">
                <p>It is often more realistic and helpful to find out what helps
                  with the issues you face. Talking, counselling, medication,
                  friendships, exercise, good sleep and nutrition, and
                  meaningful occupation can all help.</p>
              </div>
            </div>
            <div class="question-answer">
              <div class="question">
                <h3 class="title-question">
                  How do I deal with someone telling me what to do?
                </h3>
                <button class="question-btn">
                  <span class="up-icon">
                    <i class="fas fa-chevron-up"></i>
                  </span>
                  <span class="down-icon">
                    <i class="fas fa-chevron-down"></i>
                  </span>
                </button>
              </div>
              <div class="answer">
                <p>Some people may advise you on good evidence of what works
                  with the best of intentions, but it’s important to find out
                  what works best for you.</p>
              </div>
            </div>
            <div class="question-answer">
              <div class="question">
                <h3 class="title-question">
                  What are the Symptoms of Depression in Men?
                </h3>
                <button class="question-btn">
                  <span class="up-icon">
                    <i class="fas fa-chevron-up"></i>
                  </span>
                  <span class="down-icon">
                    <i class="fas fa-chevron-down"></i>
                  </span>
                </button>
              </div>
              <div class="answer">
                <p>
                  The symptoms are across gender, but the manifestations of the
                  symptoms may have some gender-based or cultural
                  implications.signs of depression in men include sleep
                  disturbances, weight gain or loss, excessive irritability or
                  intolerance and anger.</p>
              </div>
            </div>
            <div class="question-answer">
              <div class="question">
                <h3 class="title-question">
                  What is Postpartum Depression?
                </h3>
                <button class="question-btn">
                  <span class="up-icon">
                    <i class="fas fa-chevron-up"></i>
                  </span>
                  <span class="down-icon">
                    <i class="fas fa-chevron-down"></i>
                  </span>
                </button>
              </div>
              <div class="answer">
                <p>
                  Postpartum depression is a type of mood disorder that's
                  associated with childbirth. Culturally, this is often
                  dismissed as 'normal', however, this is more than just a flux
                  of hormones post-delivery.Postpartum depression is also
                  closely linked with traumatic labour.</p>
              </div>
            </div>
            <div class="question-answer">
              <div class="question">
                <h3 class="title-question">
                  What does an Anxiety Attack feel like?
                </h3>
                <button class="question-btn">
                  <span class="up-icon">
                    <i class="fas fa-chevron-up"></i>
                  </span>
                  <span class="down-icon">
                    <i class="fas fa-chevron-down"></i>
                  </span>
                </button>
              </div>
              <div class="answer">
                <p>
                  People often use the terms panic attack and anxiety attack
                  interchangeably, but there's a difference between the two. A
                  panic attack occurs out of nowhere—it could take place even
                  while sipping a cup of coffee. In contrast, an anxiety attack
                  ensues when you're triggered by a specific thing. ?
                </p>
              </div>
            </div>
            <div class="question-answer">
              <div class="question">
                <h3 class="title-question">
                  How to calm a Panic Attack?
                </h3>
                <button class="question-btn">
                  <span class="up-icon">
                    <i class="fas fa-chevron-up"></i>
                  </span>
                  <span class="down-icon">
                    <i class="fas fa-chevron-down"></i>
                  </span>
                </button>
              </div>
              <div class="answer">
                <p>The first thing is deep breathing in a paper bag.Sitting on
                  the floor can help you feel more grounded or feel less dizzy.
                  Getting a glass of ice water and slowly sipping on it is also
                  helpful. Once you feel slightly better, try to change your
                  environment or take a nap.</p>
              </div>
            </div>
            <div class="question-answer">
              <div class="question">
                <h3 class="title-question">
                  What is Bipolar Disorder?
                </h3>
                <button class="question-btn">
                  <span class="up-icon">
                    <i class="fas fa-chevron-up"></i>
                  </span>
                  <span class="down-icon">
                    <i class="fas fa-chevron-down"></i>
                  </span>
                </button>
              </div>
              <div class="answer">
                <p>Typically, they are mood swings. What a person faces in
                  bipolar disorder are phases of mania and phases of depression.
                  Unfortunately, though both those phases, people experience the
                  extremes of them.</p>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script>
      const questions = document.querySelectorAll('.question-answer');
      questions.forEach(function(question) { const btn =
      question.querySelector('.question-btn'); btn.addEventListener("click",
      function() { questions.forEach(function(item) { if (item !== question) {
      item.classList.remove("show-text"); } })
      question.classList.toggle("show-text"); }) })
    </script>
  </body>

</html>