<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Score</title>
    <style>
        .content-table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 1rem;
            width: 40%;
            border-radius: 5px 5px 0 0;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }

        .content-table thead tr {
            background-color: rgb(252, 240, 255);

        }

        .content-table td,
        .content-table td {
            padding: 12px 8px;
        }

        .content-table tbody tr {
            border-bottom: 1px solid rgb(252, 240, 255);
        }

        .content-table tbody tr:last-of-type {
            border-bottom: 4px solid rgb(252, 240, 255);

        }

        .content-table {
            margin-left: auto;
            margin-right: auto;
        }

        h1 {
            text-align: center;
            padding: 9px;
            margin: 70px;
            font-size: 3rem;
        }

        body {
            background-color: #c6ebc5;
            ;
        }
    </style>
</head>

<body>

    <h1>A Simple Guide For You</h1>
    <table class="content-table">
        <thead>
            <tr>
                <th>Score</th>
                <th>Condition</th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <td>0-1</td>
                <td>The score attained by you in the self-assessment test would mean that you are managing well and a
                    bit of meditation
                    accompanied by yoga and physical activities might just push you into being a better
                    version of yourself.</td>
            </tr>
            <tr>
                <td>2-3</td>
                <td>The score attained by you in the self-assessment test would mean that you are managing well and a
                    bit of meditation
                    accompanied by yoga and physical activities might just push you into being a better
                    version of yourself.</td>
            </tr>
            <tr>
                <td>4-5</td>
                <td>The score attained by you in the self-assessment test would mean that you have started to show some
                    signs of distress
                    and going for a counselling session maybe the best chance for you to improve your stress levels.
                </td>
            </tr>
            <tr>
                <td>6-7</td>
                <td>The score attained by you in the self-assessment test would mean that you are showing a few symptoms
                    of some Mental
                    Health Issues and it is time for you to visit a therapist and start a therapy session as
                    soon as possible.</td>
            </tr>
            <tr>
                <td>8</td>
                <td>The score attained by you in the self-assessment test would mean that you are having a fair amount
                    of struggles in your
                    life and it has reached a point where you should take a appointment from a Psychiatrist who might go
                    ahead with
                    prescribing some medicines for you.</td>
            </tr>
        </tbody>

    </table>

</body>

</html>